
Big_integer_project/.vs/Big_integer_project/v17/ipch/AutoPCH/c00e5c846ae2ecd6/BIG_INTEGER-1.ipch
Big_integer_project/.vs/Big_integer_project/v17/Browse.VC.opendb
Big_integer_project/.vs/Big_integer_project/v17/Browse.VC.db-wal
Big_integer_project/.vs/Big_integer_project/v17/Browse.VC.db-shm
Big_integer_project/.vs/Big_integer_project/v17/Browse.VC.db
Big_integer_project/.vs/Big_integer_project/FileContentIndex/d9ac6c8b-3dd2-452f-9cfd-e7674c38969a.vsidx
Big_integer_project/.vs/Big_integer_project/FileContentIndex/6a26f8f9-607c-4d91-9979-d7223e358093.vsidx
Big_integer_project/.vs/Big_integer_project/FileContentIndex/68b1672c-68cb-4603-b93f-cd31d143cbda.vsidx
Big_integer_project/.vs/Big_integer_project/v17/Browse.VC.db
*.db
*.exe
Big_integer_project/.vs/Big_integer_project/v17/ipch/AutoPCH/1c33c696d7211af2/MAIN.ipch
Big_integer_project/.vs/Big_integer_project/v17/Browse.VC.db
Big_integer_project/.vs/Big_integer_project/FileContentIndex/2298d129-5561-44a4-abb2-a661df72292b.vsidx
Big_integer_project/.vs/Big_integer_project/v17/Browse.VC.db
